{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- PWA Functionality Code -->
<link rel="manifest" href="{% static 'manifest.json' %}">
<link rel="icon" type="image/png" sizes="512x512" href="{% static 'icons/icon-512.png' %}">
<link rel="apple-touch-icon" href="{% static 'icons/icon-512.png' %}">

<meta name="theme-color" content="#2563eb">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Student Project">
<meta name="apple-mobile-web-app-status-bar-style" content="default">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Student Project{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include "partials/navbar.html" %}
    {% include "partials/messages.html" %}

    <main class="page">
        {% block content %}
        {% endblock %}
    </main>

    {% include "partials/footer.html" %}

    <script>
        const menuToggle = document.querySelector(".menu-toggle");
const navLinks = document.querySelector("#navLinks");

if (menuToggle && navLinks) {
    menuToggle.addEventListener("click", () => {
        navLinks.classList.toggle("active");
    });
}

const dropdownToggles = document.querySelectorAll(".dropdown-toggle");

dropdownToggles.forEach((toggle) => {
    toggle.addEventListener("click", (event) => {
        event.stopPropagation();

        const dropdown = toggle.closest(".dropdown");

        document.querySelectorAll(".dropdown").forEach((item) => {
            if (item !== dropdown) {
                item.classList.remove("active");
            }
        });

        dropdown.classList.toggle("active");
    });
});

document.addEventListener("click", () => {
    document.querySelectorAll(".dropdown").forEach((dropdown) => {
        dropdown.classList.remove("active");
    });
});
    </script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>